body {
    background-color: cyan;
    margin: 0;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.container-words {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.container-individual-word {
    border: 5px solid rgb(16, 175, 136);
    width: 80%;
    height: 45%;
}

kbd {
    display: block;
    font-size: 4rem;
    font-weight: bold;
}

.container-individual-word :hover {
    color: pink;
}